 .u-section-1 {
  background-image: linear-gradient(white, white);
}

.u-section-1 .u-sheet-1 {
  min-height: 624px;
}

.u-section-1 .u-image-1 {
  width: 521px;
  height: 521px;
  margin: 43px -12px 0 auto;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  margin: -132px 231px 0 0;
}

.u-section-1 .u-layout-wrap-1 {
  width: 717px;
  margin: -358px auto 60px 0;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 464px;
}

.u-section-1 .u-container-layout-1 {
  padding: 0 30px 0 0;
}

.u-section-1 .u-audio-1 {
  width: 345px;
  height: 64px;
  margin: 7px 56px 0 auto;
}

.u-section-1 .u-text-2 {
  background-image: none;
  font-size: 1.5rem;
  font-weight: 700;
  font-family: "Zen Old Mincho";
  margin: -34px auto 0 19px;
}

.u-section-1 .u-audio-2 {
  width: 345px;
  height: 64px;
  margin: 19px 56px 0 auto;
}

.u-section-1 .u-text-3 {
  font-size: 1.5rem;
  font-weight: 700;
  font-family: "Zen Old Mincho";
  margin: -35px auto 0 20px;
}

.u-section-1 .u-audio-3 {
  width: 345px;
  height: 64px;
  margin: 22px 56px 0 auto;
}

.u-section-1 .u-text-4 {
  font-size: 1.5rem;
  font-weight: 700;
  font-family: "Zen Old Mincho";
  margin: -35px auto 0 22px;
}

.u-section-1 .u-audio-4 {
  width: 345px;
  height: 64px;
  margin: 16px 56px 0 auto;
}

.u-section-1 .u-text-5 {
  font-size: 1.5rem;
  font-weight: 700;
  font-family: "Zen Old Mincho";
  margin: -35px auto 0 21px;
}

.u-section-1 .u-audio-5 {
  width: 345px;
  height: 64px;
  margin: 20px 56px 0 auto;
}

.u-section-1 .u-text-6 {
  font-size: 1.5rem;
  font-weight: 700;
  font-family: "Zen Old Mincho";
  margin: -39px auto 0 21px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    margin-right: 31px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 260px;
  }

  .u-section-1 .u-image-1 {
    margin-top: 0;
    margin-right: auto;
  }

  .u-section-1 .u-text-1 {
    margin-top: 327px;
    margin-right: 0;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-right: 10px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 20px;
  }

  .u-section-1 .u-text-3 {
    margin-top: 20px;
  }

  .u-section-1 .u-text-4 {
    margin-top: 20px;
  }

  .u-section-1 .u-text-5 {
    margin-top: -65px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1091px;
  }

  .u-section-1 .u-image-1 {
    height: 340px;
    margin-top: 20px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-text-1 {
    margin-top: 42px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-top: -48px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 650px;
  }

  .u-section-1 .u-audio-1 {
    width: 330px;
    margin-top: 1px;
    margin-right: 0;
  }

  .u-section-1 .u-audio-2 {
    width: 330px;
    margin-right: 0;
  }

  .u-section-1 .u-audio-3 {
    width: 330px;
    margin-right: 0;
  }

  .u-section-1 .u-audio-4 {
    width: 330px;
    margin-right: 0;
  }

  .u-section-1 .u-text-5 {
    width: auto;
    margin-top: 15px;
    margin-left: 23px;
  }

  .u-section-1 .u-audio-5 {
    margin-top: 25px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-text-6 {
    width: auto;
    margin-top: 27px;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 362px;
}

.u-section-2 .u-text-1 {
  font-size: 1.5rem;
  font-family: "Zen Old Mincho";
  width: 883px;
  margin: 37px auto 57px;
}

.u-section-2 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-2 .u-btn-2 {
  background-image: none;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-text-1 {
    width: 803px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-text-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-text-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-text-1 {
    width: 340px;
  }
} .u-section-3 {
  background-color: rgb(255, 255, 255) !important;
  color: black !important;
}

.u-section-3 .u-sheet-1 {
  min-height: 511px;
}

.u-section-3 .u-text-1 {
  font-family: "Zen Old Mincho";
  font-size: 2.25rem;
  margin: 20px auto 0;
}

.u-section-3 .u-gallery-1 {
  height: 365px;
  width: 554px;
  grid-gap: 17px;
  margin: 44px auto 0 570px;
}

.u-section-3 .u-gallery-inner-1 {
  grid-template-columns: repeat(2, auto);
  --gap: 0px;
}

.u-section-3 .u-gallery-item-1 {
  margin-right: 17px;
}

.u-section-3 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-3 .u-gallery-nav-1 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
}

.u-section-3 .u-gallery-nav-2 {
  position: absolute;
  right: 10px;
  width: 40px;
  height: 40px;
}

.u-section-3 .u-text-2 {
  font-size: 1.25rem;
  font-weight: normal;
  font-family: "Zen Old Mincho";
  margin: -352px 586px 60px 0;
}

@media (max-width: 1199px) {
   .u-section-3 {
    --color-var: #f2f2f2;
  }

  .u-section-3 .u-gallery-1 {
    margin-left: 386px;
  }

  .u-section-3 .u-gallery-inner-1 {
    grid-gap: 17px 17px;
    --gap: 17px;
  }

  .u-section-3 .u-text-2 {
    margin-top: 20px;
    margin-right: 386px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 50vw;
  }

  .u-section-3 .u-gallery-1 {
    margin-top: 26px;
    margin-left: auto;
  }

  .u-section-3 .u-gallery-inner-1 {
    grid-template-columns: repeat(1, auto);
  }

  .u-section-3 .u-text-2 {
    width: 554px;
    margin-top: 43px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-gallery-1 {
    width: 540px;
  }

  .u-section-3 .u-text-2 {
    margin-top: 20px;
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-3 .u-gallery-1 {
    width: 340px;
  }

  .u-section-3 .u-text-2 {
    width: 340px;
  }
} .u-section-4 {
  --color-var: #f2f2f2;
}

.u-section-4 .u-sheet-1 {
  min-height: 612px;
}

.u-section-4 .u-text-1 {
  font-family: "Zen Old Mincho";
  font-size: 2.25rem;
  margin: 25px auto 0;
}

.u-section-4 .u-gallery-1 {
  height: 226px;
  margin-top: 25px;
  margin-bottom: 0;
  grid-gap: 17px;
}

.u-section-4 .u-gallery-inner-1 {
  grid-template-columns: repeat(5, auto);
  --gap: 17px;
}

.u-section-4 .u-gallery-item-1 {
  margin-right: 0;
}

.u-section-4 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-4 .u-gallery-item-2 {
  margin-right: 0;
}

.u-section-4 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-4 .u-gallery-item-3 {
  margin-right: 0;
}

.u-section-4 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-4 .u-gallery-item-4 {
  margin-right: 0;
}

.u-section-4 .u-over-slide-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-4 .u-gallery-item-5 {
  margin-right: 0;
}

.u-section-4 .u-over-slide-5 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-4 .u-gallery-2 {
  height: 226px;
  margin-top: 8px;
  margin-bottom: 60px;
}

.u-section-4 .u-gallery-inner-2 {
  --gap: 17px;
  grid-template-columns: repeat(5, auto);
}

.u-section-4 .u-over-slide-6 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-4 .u-over-slide-7 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-4 .u-over-slide-8 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-4 .u-over-slide-9 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-4 .u-over-slide-10 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 531px;
  }

  .u-section-4 .u-gallery-1 {
    height: 184px;
  }

  .u-section-4 .u-gallery-inner-1 {
    grid-gap: 17px 17px;
  }

  .u-section-4 .u-gallery-2 {
    height: 186px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1136px;
  }

  .u-section-4 .u-gallery-1 {
    height: 500px;
  }

  .u-section-4 .u-gallery-inner-1 {
    grid-template-columns: repeat(3, auto);
  }

  .u-section-4 .u-gallery-2 {
    height: 475px;
  }

  .u-section-4 .u-gallery-inner-2 {
    grid-template-columns: repeat(3, auto);
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1826px;
  }

  .u-section-4 .u-gallery-1 {
    height: 863px;
  }

  .u-section-4 .u-gallery-inner-1 {
    grid-template-columns: repeat(2, auto);
  }

  .u-section-4 .u-gallery-2 {
    height: 802px;
  }

  .u-section-4 .u-gallery-inner-2 {
    grid-template-columns: repeat(2, auto);
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 3708px;
  }

  .u-section-4 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-4 .u-gallery-1 {
    height: 1864px;
  }

  .u-section-4 .u-gallery-inner-1 {
    grid-template-columns: repeat(1, auto);
  }

  .u-section-4 .u-gallery-2 {
    height: 1683px;
  }

  .u-section-4 .u-gallery-inner-2 {
    grid-template-columns: repeat(1, auto);
  }
} .u-section-5 {
  background-image: none;
}

.u-section-5 .u-sheet-1 {
  min-height: 906px;
}

.u-section-5 .u-text-1 {
  font-family: "Zen Old Mincho";
  font-size: 2.25rem;
  margin: 20px 112px 0 145px;
}

.u-section-5 .u-text-2 {
  font-size: 1.5rem;
  font-family: "Zen Old Mincho";
  margin: 20px 112px 60px 145px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-text-1 {
    margin-right: 12px;
    margin-left: 45px;
  }

  .u-section-5 .u-text-2 {
    width: 803px;
    margin-left: 45px;
    margin-right: 12px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-text-1 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-5 .u-text-2 {
    width: 720px;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-text-2 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 2028px;
  }

  .u-section-5 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-5 .u-text-2 {
    width: 340px;
    margin-top: 10px;
  }
} .u-section-6 {
  background-image: none;
}

.u-section-6 .u-sheet-1 {
  min-height: 91px;
}

.u-section-6 .u-social-icons-1 {
  height: 60px;
  width: 180px;
  min-width: 124px;
  margin: 14px auto 5px;
}

.u-section-6 .u-icon-1 {
  height: 60px;
  background-image: none;
  padding: 12px;
}

.u-section-6 .u-icon-2 {
  height: 100%;
  color: rgb(255, 255, 255) !important;
  background-image: none;
  padding: 12px;
}

.u-section-6 .u-icon-3 {
  height: 0;
  background-image: none;
  padding: 12px;
}

@media (max-width: 1199px) {
  .u-section-6 .u-social-icons-1 {
    min-height: 16px;
  }
}@font-face {
  font-family: 'FontsFree-Net-Dream-Avenue';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/FontsFree-Net-Dream-Avenue.ttf);
}
/* page-custom-fonts */
@font-face {
  font-family: 'FontsFree-Net-Dream-Avenue';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/FontsFree-Net-Dream-Avenue.ttf);
}