 .u-section-1 {
  background-image: linear-gradient(white, white);
}

.u-section-1 .u-sheet-1 {
  min-height: 514px;
}

.u-section-1 .u-image-1 {
  width: 521px;
  height: 521px;
  margin: -10px -11px 0 auto;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  margin: -77px 231px 0 0;
}

.u-section-1 .u-layout-wrap-1 {
  width: 717px;
  margin: -362px auto 60px 0;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 258px;
}

.u-section-1 .u-container-layout-1 {
  padding: 0 30px 0 0;
}

.u-section-1 .u-audio-1 {
  width: 345px;
  height: 64px;
  margin: 7px 56px 0 auto;
}

.u-section-1 .u-text-2 {
  background-image: none;
  font-size: 1.5rem;
  font-weight: 700;
  font-family: "Zen Old Mincho";
  margin: -34px auto 0 29px;
}

.u-section-1 .u-audio-2 {
  width: 345px;
  height: 64px;
  margin: 19px 56px 0 auto;
}

.u-section-1 .u-text-3 {
  font-size: 1.5rem;
  font-weight: 700;
  font-family: "Zen Old Mincho";
  margin: -33px auto 0 28px;
}

.u-section-1 .u-audio-3 {
  width: 345px;
  height: 64px;
  margin: 14px 56px 0 auto;
}

.u-section-1 .u-text-4 {
  font-size: 1.5rem;
  font-weight: 700;
  font-family: "Zen Old Mincho";
  margin: -27px auto 0 28px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    margin-right: 31px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 789px;
  }

  .u-section-1 .u-image-1 {
    margin-top: 0;
    margin-right: auto;
  }

  .u-section-1 .u-text-1 {
    margin-top: 327px;
    margin-right: 0;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 218px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 356px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-right: 10px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 20px;
  }

  .u-section-1 .u-text-3 {
    margin-top: 20px;
  }

  .u-section-1 .u-text-4 {
    margin-top: 20px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 829px;
  }

  .u-section-1 .u-image-1 {
    height: 340px;
    margin-top: 20px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-text-1 {
    margin-top: 42px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-top: -47px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-audio-1 {
    width: 330px;
    margin-right: 0;
  }

  .u-section-1 .u-audio-2 {
    width: 330px;
    margin-right: 0;
  }

  .u-section-1 .u-audio-3 {
    width: 330px;
    margin-right: 0;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 427px;
}

.u-section-2 .u-text-1 {
  font-size: 1.5rem;
  font-family: "Zen Old Mincho";
  margin: 60px 112px 60px 145px;
}

.u-section-2 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-2 .u-btn-2 {
  background-image: none;
  padding: 0;
}

.u-section-2 .u-btn-3 {
  background-image: none;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-text-1 {
    width: 803px;
    margin-left: 45px;
    margin-right: 12px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-text-1 {
    width: 720px;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-text-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-text-1 {
    width: 340px;
  }
} .u-section-3 {
  --color-var: #f2f2f2;
}

.u-section-3 .u-sheet-1 {
  min-height: 511px;
}

.u-section-3 .u-text-1 {
  font-family: "Zen Old Mincho";
  font-size: 2.25rem;
  margin: 24px auto 0;
}

.u-section-3 .u-gallery-1 {
  height: 365px;
  width: 554px;
  grid-gap: 17px;
  margin: 39px 0 0 auto;
}

.u-section-3 .u-gallery-inner-1 {
  grid-template-columns: repeat(2, auto);
  --gap: 0px;
}

.u-section-3 .u-gallery-item-1 {
  margin-right: 17px;
}

.u-section-3 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-3 .u-gallery-nav-1 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
}

.u-section-3 .u-gallery-nav-2 {
  position: absolute;
  right: 10px;
  width: 40px;
  height: 40px;
}

.u-section-3 .u-text-2 {
  font-size: 1.5rem;
  font-weight: normal;
  font-family: "Zen Old Mincho";
  margin: -347px 570px 60px 16px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-gallery-inner-1 {
    grid-gap: 17px 17px;
    --gap: 17px;
  }

  .u-section-3 .u-text-2 {
    margin-top: 20px;
    margin-right: 386px;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 780px;
  }

  .u-section-3 .u-gallery-1 {
    margin-top: 25px;
    margin-right: auto;
  }

  .u-section-3 .u-gallery-inner-1 {
    grid-template-columns: repeat(1, auto);
  }

  .u-section-3 .u-text-2 {
    width: auto;
    margin-top: 51px;
    margin-right: 166px;
    margin-bottom: 44px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-gallery-1 {
    width: 540px;
  }

  .u-section-3 .u-text-2 {
    margin-top: 20px;
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-3 .u-gallery-1 {
    width: 340px;
  }

  .u-section-3 .u-text-2 {
    margin-bottom: 60px;
  }
} .u-section-4 {
  --color-var: #f2f2f2;
}

.u-section-4 .u-sheet-1 {
  min-height: 442px;
}

.u-section-4 .u-text-1 {
  font-family: "Zen Old Mincho";
  font-size: 2.25rem;
  margin: 25px auto 0;
}

.u-section-4 .u-gallery-1 {
  height: 299px;
  margin-top: 36px;
  margin-bottom: 0;
  grid-gap: 17px;
}

.u-section-4 .u-gallery-inner-1 {
  grid-template-columns: auto auto auto auto;
  --gap: 17px;
}

.u-section-4 .u-gallery-item-1 {
  margin-right: 0;
}

.u-section-4 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-4 .u-gallery-item-2 {
  margin-right: 0;
}

.u-section-4 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-4 .u-gallery-item-3 {
  margin-right: 0;
}

.u-section-4 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-4 .u-gallery-item-4 {
  margin-right: 0;
}

.u-section-4 .u-over-slide-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-4 .u-gallery-2 {
  height: 375px;
  margin-top: 30px;
  margin-bottom: 60px;
  width: 100%;
}

.u-section-4 .u-gallery-inner-2 {
  --gap: 10px;
  grid-template-columns: repeat(3, auto);
}

.u-section-4 .u-over-slide-5 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-4 .u-over-slide-6 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-4 .u-over-slide-7 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 387px;
  }

  .u-section-4 .u-gallery-1 {
    height: 244px;
  }

  .u-section-4 .u-gallery-inner-1 {
    grid-template-columns: repeat(4, auto);
    grid-gap: 17px 17px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1682px;
  }

  .u-section-4 .u-gallery-1 {
    height: 789px;
  }

  .u-section-4 .u-gallery-inner-1 {
    grid-template-columns: repeat(2, auto);
  }

  .u-section-4 .u-gallery-2 {
    height: 1125px;
  }

  .u-section-4 .u-gallery-inner-2 {
    grid-template-columns: repeat(2, auto);
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 5566px;
  }

  .u-section-4 .u-gallery-1 {
    height: 2423px;
  }

  .u-section-4 .u-gallery-inner-1 {
    grid-template-columns: repeat(1, auto);
  }

  .u-section-4 .u-gallery-2 {
    height: 3375px;
  }

  .u-section-4 .u-gallery-inner-2 {
    grid-template-columns: repeat(1, auto);
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 4687px;
  }

  .u-section-4 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-4 .u-gallery-1 {
    height: 1544px;
  }
}@font-face {
  font-family: 'FontsFree-Net-Dream-Avenue';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/FontsFree-Net-Dream-Avenue.ttf);
}
/* page-custom-fonts */
@font-face {
  font-family: 'FontsFree-Net-Dream-Avenue';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/FontsFree-Net-Dream-Avenue.ttf);
}